# Quarto build output
/_site/
/.quarto/

# OS / editor cruft
.DS_Store
Thumbs.db
*.swp
.Rproj.user/*
.Rhistory
.RData


**/*.quarto_ipynb

# Claude Code Runtime & Local Settings
.claude
.claude/settings.local.json
CLAUDE.local.md
.claude/history/
.claude/logs/

# Others
README_forUpdating.md
data/*
!data/questions.csv
.Rproj.user
